<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<script src="angular.js" type="text/javascript"></script>
	<script src="angular-translate.js" type="text/javascript"></script>

</head>
<body ng-app="food">
	<div ng-controller="FoodCtrl">
		
		<a href="#" ng-click="changeLanguage('en')">English</a>
		<a href="#" ng-click="changeLanguage('cn')">Chinese</a>
			
<!--	translate using filter-->
	<h1>{{'Title' | translate}}</h1>
	<h2 translate="Foo" translate-value-food="oko"></h2>
<!--	translate using directive better performance-->
	<p translate>Content.Name</p>
	<p translate="Content.Name"></p>
	</div>
	
	<div ng-controller="DrinkCtrl">
		<p> {{drinkContent}} </p>
	<p translate="{{dynamicId}}"></p>
		
	</div>
	
	<script>
		var app = angular.module('food',['pascalprecht.translate']);
		app.config(function($translateProvider){
			$translateProvider.translations('en',{
				Title: 'hello',
				Foo:'this is {{food}}',
				Button_En: 'click',
				Content:{
					Name:'i love choclate'
				},
				Drink:'this is about drinks'
			});
			$translateProvider.translations('cn',{
				Title: '你好',
				Foo:'开饭{{food}}',
				Button_En: '确定',
				Content:{
					Name:'我爱巧克力'
				},
			});
			$translateProvider.preferredLanguage('cn');
			$translateProvider.fallbackLanguage('en');
			$translateProvider.useSanitizeValueStrategy('escaped');
		});
		app.controller('FoodCtrl',function($scope, $translate){
			$scope.changeLanguage = function(key){
				$translate.use(key);
			};
		});
		
		//translate using the service
		app.controller('DrinkCtrl',function($translate, $scope){
			$translate('Drink').then(function(drink){
				$scope.drinkContent = drink + $translate.versionInfo();
				$scope.dynamicId = "Drink";
			});
		});
	</script>
</body>
</html>